
<div style="display: flex; justify-content: center; align-items: center;
height: 100%;">

<mat-card style="width: 300px; height: 300px;">




    <mat-form-field  appearance="outline" style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput type="text" (input)="processPassword()"   [(ngModel)]="password">

      <button *ngIf="password" matSuffix mat-icon-button aria-label="Copy" [cdkCopyToClipboard]="password">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>


  <mat-progress-bar
          [color]="PasswordService.setProgressBarColor(passwordStrong)"
          [mode]="mode"
          [value]="passwordStrong">
      </mat-progress-bar>

<div style="margin-top: 20px">
  <ctn-steps [stepClass]="PasswordService.lengthClass     | async">min. 6 caracteres</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.lowerCaseClass  | async">min. 2 caracteres minúsculos</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.upperCaseClass  | async">min. 2 caracteres maiúsculos</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.numberClass     | async">min. 2 caracteres numéricos</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.digitClass      | async">min. 2 caracteres especiais</ctn-steps>
</div>


</mat-card>

</div>
