
<div style="display: flex; justify-content: center; align-items: center;
height: 100%;">

<mat-card style="width: 300px; height: 300px;">


  <div class="header">
    <span class="title">{{'title' | translate}}</span>
    <span class="subtitle">{{'subtitle' | translate}}</span>
  </div>


    <mat-form-field  appearance="outline" style="width: 100%;">
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput type="text" (input)="processPassword()"   [(ngModel)]="password">

      <button *ngIf="password" matSuffix mat-icon-button aria-label="Copy" [cdkCopyToClipboard]="password">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>


  <mat-progress-bar
          [color]="PasswordService.setProgressBarColor(passwordStrong)"
          [mode]="mode"
          [value]="passwordStrong">
      </mat-progress-bar>

<div style="margin-top: 20px">
  <ctn-steps [stepClass]="PasswordService.lengthClass     | async">{{'password_message.length'      | translate}}</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.lowerCaseClass  | async">{{'password_message.lower_case'  | translate}}</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.upperCaseClass  | async">{{'password_message.upper_case'  | translate}}</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.numberClass     | async">{{'password_message.numeric'     | translate}}</ctn-steps>
  <ctn-steps [stepClass]="PasswordService.digitClass      | async">{{'password_message.special'     | translate}}</ctn-steps>
</div>


</mat-card>

</div>
